<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        <title>Document</title>
    </head>
    <body>
        <table class="table" id="details"></table>
    </body>
    <script>
        // api url
        const api_url =
            "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=QG91OgHalQjzgTMTjwJI0zWzfmpAeDRpuVKi03Jh";
        // Defining async function
        async function getapi(url) {
            // Storing response
            const response = await fetch(url); // Storing data in form of JSON
            var data = await response.json();
            console.log(data);

            show(data);
        }
        // Calling that async function
        getapi(api_url);
        function show(data) {
            let tab = `<tr>
                <th>Id</th>
                <th>Image</th>
                <th>Date</th>
                <th>Nom rover</th>
                <th>Nom caméra</th>
                </tr>`; // Loop to access all rows
            for (let r of data.photos) {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);
                if (urlParams.get("id") == r.id) {
                    tab += `<tr>
                <td>${r.id} </td>
                <td class="w-25"> <img src="${r.img_src}" alt="" class="img-fluid "></td>
                <td>${r.earth_date}</td>
                <th>${r.rover.name}</th>
                <th>${r.camera.name}</th>

        </tr>`;
                }
            } // Setting innerHTML as tab variable
            document.getElementById("details").innerHTML = tab;
        }
    </script>
    <script src="/static/bootstrap.bundle.min.js"></script>
</html>
